.footer{
  font-family: "Prompt", sans-serif;
    position: fixed;
      bottom: 0;
      left: 0;
      width: 99%;
      background-color: rgba(72, 98, 116, 0.719);
      padding: 10px;
      height: auto;
      display: flex;
    align-items: center;
    justify-content: space-between; 
    
  }