.footer {
  font-family: "Prompt", sans-serif;
  background-color: rgba(72, 98, 116, 0.719);
  padding: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
