<div>
  <table class="tabla_bombas">
    <thead>
      <tr>
        <th># Bomba</th>
        <th>CONTROL</th>
        <th>Estado</th>
        <th>Encender</th>
        <th>Apagar</th>
        <th>Ultimo cambio estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>#1</th>
        <th>MANUAL</th>
        <th>ENCENDIDO</th>
        <th>ON</th>
        <th>OFF</th>
        <th>2024</th>
      </tr>
      <tr>
        <th>#2</th>
        <th>MANUAL</th>
        <th>ENCENDIDO</th>
        <th>ON</th>
        <th>OFF</th>
        <th>2024</th>
      </tr>
      <tr>
        <th>#3</th>
        <th>MANUAL</th>
        <th>ENCENDIDO</th>
        <th>ON</th>
        <th>OFF</th>
        <th>2024</th>
      </tr>
    </tbody>
  </table>
</div>
