.tabla_bombas {
  border-collapse: collapse;
  background-color: #fff;
}

.tabla_bombas th,
.tabla_bombas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla_bombas tr:hover {
  background-color: #f1f1f1;
}
.encendido {
  background-color: green;
  border: none;
  padding: 8px;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.apagado {
  background-color: red;
  border: none;
  padding: 8px;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.table-container {
  overflow: auto;
  table {
    thead {
      tr {
        th {
          min-width: 150px;
          background-color: gray;
        }
      }
    }
  }
}
