<div class="table-container">
  <table class="tabla_bombas">
    <thead>
      <tr>
        <th># Bomba</th>
        <th>CONTROL</th>
        <th>Estado</th>
        <th>Encender</th>
        <th>Apagar</th>
        <th>Ultimo cambio estado</th>
      </tr>
    </thead>
    <tbody>
      @for (bomb of bombs; track bomb) {
      <tr>
        <th>{{ bomb.id }}</th>
        <th>{{ bomb.control }}</th>
        <th>{{ bomb.status }}</th>
        <th>ON</th>
        <th>OFF</th>
        <th>{{ bomb.lastStateChange }}</th>
      </tr>
      }
      <tr></tr>
    </tbody>
  </table>
</div>
<!-- <p>{{bombs|json}}</p> -->
